server:
  port: ${SHOPRULESGENERATOR_PORT}

spring:
  data:
      mongodb:
        host: ${MONGO_IP}
        port: ${MONGO_PORT}
        username: ${MONGO_BRIDGE_USER}
        password: ${MONGO_BRIDGE_PW}
        database: data

idealobridge:
  oAuth2ClientId: ${CLIENT_ID}
  oAuth2ClientSecret: ${CLIENT_SECRET}
  accessTokenURI: ${ACCESS_TOKEN_URI}
  apiUrl: ${API_URL}
  sampleOffersRoute: "/sampleOffers/"
  maxOffers: 50

shoprulesgenerator-settings:
  fetchDelay: 10000
  userAgent: "Mozilla/5.0 (compatible; HPI-BPN2-2017/2.1; https://hpi.de/naumann/teaching/bachelorprojekte/inventory-management.html)"
  urlCleanerRoot: ${URLCLEANER_IP}
  cleanUrlRoute: "/clean/"
  scoreThreshold: 0.5

logging:
  level:
    org.springframework.web: ERROR
    de.deeps: DEBUG
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss} - %logger{36}: %msg%n"
